header{
    margin: 0px;
    height: 150px;
    background-color: #4EA0FF;
    background-image: url(/img/pattern.png)
}

.logo{
    width: 200px;
    border: ;
    position: absolute;
    margin-top: 45px;
}
strong{
    color: #00A5E4;
}
h1{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 2px;
}
h5{
    margin-top: 5px;
    margin-bottom: 1px;
    color: grey;
}

h6{
    margin-top: 2px;
    color: grey;
}
.descrizione h6{
    margin-bottom: 2px;
}

.evidenzia{
    background-color: #FFFF00;
}

.lista{
    margin-top: 30px;
    border-left: 1px;
    padding: 1%;
}

table{
    border-collapse: collapse;
    width: 100%;
    
}

th,td{
    text-align: left;
    width:max-content;
}